:root  {
    --vtc-current-color: blue;
    --vtc-current-focus-color: blue;
}

body {
    font-family: 'arial';
    margin: 0px;
    padding: 0px;
    font-size: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.tableContainer {
    flex-grow: 1;
    position: relative;
}

.hidden {
    display: none;
}
.icon {
    width: 16px;
    vertical-align: bottom;
}

@media (prefers-color-scheme: dark) {
    :root {
        color: lightgray;
        background-color: #2f2f2f; 
    }
}

