body {
    --restriction-background-color: white;
    --vtc-caption-background-color: white;
    --vtc-caption-background-hover-color: #f7f7f0;
    --vtc-caption-separator-color: lightgray;
    --vtr-caption-color: gray;
}

body {
    font-family: 'arial';
    margin: 0px;
    padding: 0px;
    font-size: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.tableContainer {
    flex-grow: 1;
    position: relative;
}

.hidden {
    display: none;
}
.icon {
    width: 16px;
    vertical-align: bottom;
}

@media (prefers-color-scheme: dark) {
    body {
        color: lightgray;
        background-color: #2f2f2f;
        --restriction-background-color: #222;
        --vtc-caption-background-color: #2f2f2f;
        --vtc-caption-background-hover-color: #222;
        --vtc-caption-separator-color: darkgray;
        --vtr-caption-color: darkgray;
    }
}

#restriction {
    width: 0%;
    opacity: 0;
    bottom: 10px;
    height: 0px;
    position: absolute;
    left: 5px;
    border-width: 1px;
    border-radius: 5px;
    padding: 1px 3px;
    border-style: solid;
    border-color: gray;
    outline-style: none;
    color: var(--vtc-color);
    background-color: var(--restriction-background-color);
    box-shadow: 3px 5px 12px 3px rgba(136, 136, 136, 0.55);
    transition: opacity 0.5s, width 0.5s, height 0.5s;
}

#restriction.show {
    width: 70%;
    height: 18px;
    opacity: 1;
}
